<div class="components">
    <div class="wrapper">
        <h2 class="title">Ключевые компоненты <span class="title_green">Левефрила</span></h2>
        <p class="components__text">которые делают его таким эффективным</p>
        <div class="components__slider">
            <div>
                <div class="components__slider-cont">
                    <div class="components__slider-img">
                        <img src="img/components-one.png" alt="components-one">
                    </div>
                    <h2 class="components__slider-title">
                        Активные компоненты
                        экстракта рукколы:
                    </h2>
                    <p class="components__slider-description">
                        <span class="components__slider-description_size">бета-каротин, лютеин, зеаксантин,
                            витамины A, B9, C, K</span>
                        Предотвращают разрастание
                        грибка Кандиды, улучшают
                        кислотность и нормализуют
                        микрофлору влагалища
                    </p>
                </div>
            </div>
            <div>
                <div class="components__slider-cont">
                    <div class="components__slider-img">
                        <img src="img/components-two.png" alt="components-two">
                    </div>
                    <h2 class="components__slider-title">
                        Эфирное<br>
                        масло мимозы
                    </h2>
                    <p class="components__slider-description">
                        Снимает воспаления, облегчает
                        менструальные боли и ПМС,
                        заживляет кожу и слизистые,
                        повышает чувствительность
                        эрогенных зон
                    </p>
                </div>
            </div>
            <div>
                <div class="components__slider-cont">
                    <div class="components__slider-img">
                        <img src="img/components-three.png" alt="components-three">
                    </div>
                    <h2 class="components__slider-title">
                        Смола ладанника <br>
                        (Cístus)
                    </h2>
                    <p class="components__slider-description">
                        Снимает воспаления, жжение, зуд,
                        предотвращает инфекции,
                        борется с грибковыми
                        заболеваниями
                    </p>
                </div>
            </div>
            <div>
                <div class="components__slider-cont">
                    <div class="components__slider-img">
                        <img src="img/components-four.png" alt="components-four">
                    </div>
                    <h2 class="components__slider-title">
                        Сосна (Pinus)
                    </h2>
                    <p class="components__slider-description">
                        в составе фенольные соединения, 
                        которые имеют перспективную 
                        ингибирующую активность
                    </p>
                </div>
            </div>
            <div>
                <div class="components__slider-cont">
                    <div class="components__slider-img">
                        <img src="img/components-fife.png" alt="components-fife">
                    </div>
                    <h2 class="components__slider-title">
                        Дереза китайская<br> (Lycium chinense)
                    </h2>
                    <p class="components__slider-description">
                        в составе четыре фенольных амида,
                        обладают противогрибковой 
                        активностью против 
                        Candida albicans
                    </p>
                </div>
            </div>
            <div>
                <div class="components__slider-cont">
                    <div class="components__slider-img">
                        <img src="img/components-six.png" alt="components-six">
                    </div>
                    <h2 class="components__slider-title">
                        Золотарник обыкновенный<br>
                        (Solidágo virgáurea)<br>
                        и Маргаритка многолетняя<br>
                        (Béllis perénnis)
                    </h2>
                    <p class="components__slider-description">
                        подавляют рост патогенных 
                        для человека дрожжей кандида. 
                    </p>
                </div>
            </div>
            <div>
                <div class="components__slider-cont">
                    <div class="components__slider-img">
                        <img src="img/components-seven.png" alt="components-seven">
                    </div>
                    <h2 class="components__slider-title">
                        Листья мучницы, <br> 
                        корни солодки, <br>
                        стальник полевой
                    </h2>
                    <p class="components__slider-description">
                        содержат сапонины, которые 
                        разрушают целостность мембран 
                        грибковых клеток.
                    </p>
                </div>
            </div>
        </div>
        <div class="components__bottom">
            <p class="components__bottom-text">
                Благодаря полностью натуральному составу Левефрил можно использовать
                даже&nbsp;при беременности и после родов
            </p>
        </div>
    </div>
</div>