<section class="doctor">
    <div class="wrapper">
        <h1 class="title">
            <span class="text__green">Левефрил</span> — ТОП-1 среди рекомендаций
            современных врачей и мед. ассоциаций
        </h1>
        <h2 class="doctor__subtitle">
            для лечения острой и хронической молочницы
        </h2>
        <div class="doctor__slider">
            <div class="slider__top">
                <div class="top__item">
                    <div class="item__wrap">
                        <img src="img/doctor__img-1.png" alt="" class="item__img item__img-1">
                    </div>
                </div>
                <div class="top__item">
                    <div class="item__wrap">
                        <img src="img/doctor__img-2.png" alt="" class="item__img item__img-2">
                    </div>
                </div>
                <div class="top__item">
                    <div class="item__wrap">
                        <img src="img/doctor__img-3.png" alt="" class="item__img item__img-3">
                    </div>
                </div>
            </div>
            <div class="slider__bottom">
                <div class="bottom__items">
                    <div class="items__wrap">
                        <div class="items__about">
                            <div class="about__itm">
                                <h2 class="about__title-small">
                                    Вера Мейерхольд
                                </h2>
                            </div>
                            <div class="about__itm">
                                <h2 class="about__title">
                                    Борис Платонов
                                </h2>
                                <p class="about__text">
                                    глава международной ассоциации акушеров-гинекологов
                                </p>
                                <span class="about__el">

                                </span>
                            </div>
                            <div class="about__itm">
                                <h2 class="about__title-small">
                                    Марина Садавова
                                </h2>
                            </div>
                        </div>
                        <div class="items__text">
                            <p class="text__p text__p-1">
                                <span class="text__b">Рекомендация применения Левефрила</span> – это не прихоть группы
                                врачей или лечебных учреждений.
                                Это утвержденная <span class="text__b">международная практика, подтвержденная многочисленными исследованиями.</span>
                                И ей можно доверять.
                            </p>
                            <p class="text__p text__p-2">
                                Левефрил – средство комплексное, к нему не нужны дополнительные поддерживающие
                                препараты.
                                Поэтому я уверенно рекомендую Левефрил для лечения молочницы.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bottom__items">
                    <div class="items__wrap">
                        <div class="items__about">
                            <div class="about__itm">
                                <h2 class="about__title-small">
                                    Борис Платонов
                                </h2>
                            </div>
                            <div class="about__itm">
                                <h2 class="about__title">
                                    Марина Садавова
                                </h2>
                                <p class="about__text">
                                    врач-натуропат, стаж 22 года
                                </p>
                                <span class="about__el">

                                </span>
                            </div>
                            <div class="about__itm">
                                <h2 class="about__title-small">
                                    Вера Мейерхольд
                                </h2>
                            </div>
                        </div>
                        <div class="items__text">
                            <p class="text__p text__p-1">
                                При молочнице не всегда нужно применение антибиотиков. Однако люди редко обращаются к
                                врачам
                                и начинают принимать их сами, что приводит к последствиям. Организм привыкает к
                                антибиотикам,
                                и с каждым применением эффект ослабевает и со временем пропадает. При этом <span
                                    class="text__b">антибиотики
                                вредят микрофлоре</span>, из-за чего молочница в скором времени возвращается.
                            </p>
                            <p class="text__p text__p-2">
                                Поэтому для лечения молочницы я рекомендую Левефрил, который не только избавляет от
                                молочницы,
                                но и восстанавливает микрофлору. Благодаря этому молочница еще долго не вернется.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bottom__items">
                    <div class="items__wrap">

                        <div class="items__about">
                            <div class="about__itm">
                                <h2 class="about__title-small">
                                    Марина Садавова
                                </h2>
                            </div>
                            <div class="about__itm">
                                <h2 class="about__title">
                                    Вера Мейерхольд
                                </h2>
                                <p class="about__text">
                                    акушер-гинеколог, стаж 16 лет
                                </p>
                                <span class="about__el">

                                </span>
                            </div>
                            <div class="about__itm">
                                <h2 class="about__title-small">
                                    Борис Платонов
                                </h2>
                            </div>
                        </div>
                        <div class="items__text">
                            <p class="text__p text__p-1">
                                Пациентки <span class="text__b">мучаются годами, а потом пробуют Левефрил</span>. Нужно использовать по 1 свече на
                                ночь, это вообще не сложно. За один курс женщины выздоравливают, <span class="text__b">рожают здоровых детей,
                                начинают получать больше удовольствия от секса</span>, потому что Левефрил <span class="text__b">пробуждает
                                чувствительность эрогенных зон</span> и ускоряет восстановление организма после родов.
                            </p>
                            <p class="text__p text__p-2">
                                Пожалуй, Левефрил — самое многофункциональное средство для женского здоровья и от
                                молочницы.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="doctor__footer">
            <span class="text__green">Левефрил</span> — рекомендация врачей номер 1
            благодаря высокой эффективности, которая была подтверждена клинически
        </h3>
    </div>
</section>