<section class="good">
    <div class="wrapper">
        <h2 class="title">
            <span class="text__green">Левефрил</span> не только избавляет от острой и&nbspхронической
            молочницы и&nbspвосстанавливает микрофлору,
        </h2>
        <h3 class="good__subtitle">
            но и надолго возобновляет женское здоровье
        </h3>
        <div class="good__error">
            <div class="error__wrap">
                <h2 class="error__title good__title">
                    Основное действие
                </h2>
                <div class="error__inner">
                    <div class="error__item">
                    <span class="item__el">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="18" viewBox="0 0 24 18">
                            <defs><path id="jiega" d="M1290.18 3306.4l-12.03 12.91-6.33-6.78-2.22 2.41 8.55 9.2 14.25-15.33z"/></defs>
                            <g>
                                <g transform="translate(-1269 -3306)">
                                    <use fill="#779a0b" xlink:href="#jiega"/>
                                </g>
                            </g>
                        </svg>
                    </span>
                        <p class="item__text">
                            Избавляет от молочницы
                        </p>
                    </div>
                    <div class="error__item error__item-line">
                    <span class="item__el">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="18" viewBox="0 0 24 18">
                            <defs><path id="jiega" d="M1290.18 3306.4l-12.03 12.91-6.33-6.78-2.22 2.41 8.55 9.2 14.25-15.33z"/></defs>
                            <g>
                                <g transform="translate(-1269 -3306)">
                                    <use fill="#779a0b" xlink:href="#jiega"/>
                                </g>
                            </g>
                        </svg>
                    </span>
                        <p class="item__text">
                            Восстанавливает здоровую <br>
                            микрофлору
                        </p>
                    </div>
                    <div class="error__item">
                    <span class="item__el">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="18" viewBox="0 0 24 18">
                            <defs><path id="jiega" d="M1290.18 3306.4l-12.03 12.91-6.33-6.78-2.22 2.41 8.55 9.2 14.25-15.33z"/></defs>
                            <g>
                                <g transform="translate(-1269 -3306)">
                                    <use fill="#779a0b" xlink:href="#jiega"/>
                                </g>
                            </g>
                        </svg>
                    </span>
                        <p class="item__text">
                            Защищает от редицива молочницы
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="good__result">
            <div class="result__line">
                <img src="img/return__line.svg" alt="" class="line__img">
            </div>
            <h2 class="result__title good__title">
                Дополнительные действия
            </h2>
            <div class="result__items">
                <div class="items__block">
                    <img src="img/good__img-1.jpg" alt="" class="block__pic">
                    <span class="block__el"></span>
                    <p class="block__text">
                        устраняет <br>
                        воспалительные <br>
                        процессы
                    </p>
                </div>
                <div class="items__block">
                    <img src="img/good__img-2.jpg" alt="" class="block__pic">
                    <span class="block__el"></span>
                    <p class="block__text">
                        устраняет <br>
                        “латентные” <br>
                        вирусы и инфекции
                    </p>
                </div>
                <div class="items__block">
                    <img src="img/good__img-3.jpg" alt="" class="block__pic">
                    <span class="block__el"></span>
                    <p class="block__text">
                        устраняет <br>
                        эрозивные <br>
                        изменения
                    </p>
                </div>
                <div class="items__block">
                    <img src="img/good__img-4.jpg" alt="" class="block__pic">
                    <span class="block__el"></span>
                    <p class="block__text">
                        предотвращает <br>
                        ПМС
                    </p>
                </div>
                <div class="items__block">
                    <img src="img/good__img-5.jpg" alt="" class="block__pic">
                    <span class="block__el"></span>
                    <p class="block__text">
                        облегчает <br>
                        менструальные <br>
                        боли
                    </p>
                </div>
                <div class="items__block">
                    <img src="img/good__img-6.jpg" alt="" class="block__pic">
                    <span class="block__el"></span>
                    <p class="block__text">
                        улучшает <br>
                        чувствительность <br>
                        эрогенных зон
                    </p>
                </div>
            </div>


        </div>
        <div class="result__footer">
            <span class="footer__el">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="18" viewBox="0 0 24 18">
                    <defs><path id="jiega" d="M1290.18 3306.4l-12.03 12.91-6.33-6.78-2.22 2.41 8.55 9.2 14.25-15.33z"/></defs>
                    <g>
                        <g transform="translate(-1269 -3306)">
                            <use fill="#fff" xlink:href="#jiega"/>
                        </g>
                    </g>
                </svg>
            </span>
            Избавьтесь от молочницы с <span class="text__green">Левефрил</span>, и ваше женское здоровье будет под защитой!
        </div>
    </div>
</section>