<header class="header header-bottom">
    <div class="wrapper">
        <div class="header__top">
            <div class="top__logo">
                <img src="img/logo.png" alt="" class="logo__img">
            </div>
            <ul class="top__list">
                <li class="list__item">
                    <span class="item__el">
                        <img src="img/header__el-1.png" alt="" class="el__img">
                    </span>
                    <span class="item__text">
                        Эффективность подтверждена <br>
                        клиниками США и&nbspИзраиля
                    </span>
                </li>
                <li class="list__item">
                    <span class="item__el">
                        <img src="img/header__el-2.png" alt="" class="el__img">
                    </span>
                    <span class="item__text">
                        Рекомендация гинекологов <br>
                        №1 в России
                    </span>
                </li>
                <li class="list__item">
                    <span class="item__el">
                        <img src="img/header__el-3.png" alt="" class="el__img">
                    </span>
                    <span class="item__text">
                        32 080 положительных <br>
                        отзывов за 2018 год
                    </span>
                </li>
            </ul>
        </div>
        <div class="header__content">
            <div class="content__left">
                <h1 class="left__title">
                    Препарат <br>
                    <span class="text__green">
                        двойного&nbspдействия
                    </span> <br>
                    против&nbspмолочницы
                </h1>
                <h2 class="left__subtitle">
                    Без&nbspантибиотиков и&nbspвредных препаратов <br>
                    вернет женское здоровье и&nbspрадость жизни
                </h2>
                <ul class="left__list">
                    <li class="list__itm">
                        <span class="itm__el">
                            1
                        </span>
                        <div class="itm__text">
                            <h3 class="text__title">
                                Избавляет от молочницы
                            </h3>
                            <p class="text__p">
                                снимает зуд, боль, неприятные <br>
                                ощущения после <span class="ib">1-го применения</span>
                            </p>
                        </div>
                    </li>
                    <li class="list__itm">
                        <span class="itm__el">
                            2
                        </span>
                        <div class="itm__text">
                            <h3 class="text__title">
                                Восстанавливает микрофлору
                            </h3>
                            <p class="text__p">
                                здоровая микрофлора не позволит <br>
                                молочнице снова вернуться
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="bottom__line"></div>
                <div class="left__bottom">

                    <h3 class="text__title">
                        Возвращает женское здоровье
                    </h3>
                    <p class="text__p">
                        предотвращает появление <br>
                        заболеваний и воспалительных <br>
                        процессов
                    </p>
                </div>
            </div>
            <div class="content__center">
                <img src="img/product.png" alt="" class="center__prod">
                <img src="img/header__list.png" alt="" class="center__el">
            </div>
            <div class="content__right">
                <form action="/submit" method="post" class="x_order_form form">
                    <div class="form__wrapper">
                        <div class="form__discont">
                            <span class="discont__text discont__text-1">-50</span>
                            <span class="discont__text discont__text-2">%</span>
                        </div>
                        <div class="form__time">
                            <span class="time__title">
                                Успейте заказать по скидке
                            </span> <br>
                            <span class="time__date date-0">
                                до 10.09.2018
                            </span>
                        </div>
                        <div class="form__price">
                            <div class="price__old">
                                <h3 class="price__title price__title-old">
                                    Старая цена
                                </h3>
                                <p class="old__num">
                                    <span class="x_price_previous">1980</span><span class="x_currency">руб</span>
                                </p>
                            </div>
                            <div class="price__new">
                                <h3 class="price__title">
                                    Новая цена
                                </h3>
                                <p class="new__num">
                                    <span class="x_price_current">990</span><span class="x_currency">руб</span>
                                </p>
                            </div>
                        </div>
                        <div class="form__pack">
                            Осталось <span class="lastpack text__green">15</span> упаковок <br>
                            по Акции
                        </div>
                        <input type="text" name="name" required placeholder="Моё имя" class="form__field form__name">
                        <input type="text" name="phone" required placeholder="Мой телефон"
                               class="form__field form__tel">
                        <button type="submit" class="form__btn btn">
                            <span class="btn__text btn__text-1">Заказать</span>
                            <span class="btn__text btn__text-2">со скидкой</span>
                        </button>
                    </div>
                </form>
                <div class="form__security">
                    <span class="security__el">
                        <img src="img/security.svg" alt="">
                    </span>
                    <span class="security__text">
                        Ваши данные защищены!
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>