<section class="return">
    <div class="wrapper">
        <h2 class="title">
            Молочница — “бумеранг”, который всегда возвращается <br>
            после <span class="text__orange">неправильного лечения</span>
        </h2>
        <h3 class="return__subtitle">
            Давно и безрезультатно лечите молочницу, пробовали много препаратов, <br>
            и уже отчаялись избавиться от этого заболевания? <br>
            Скорее всего, вы допустили ошибки в лечении!
        </h3>
        <div class="return__error">
            <div class="error__wrap">
                <h2 class="error__title return__title">
                    Ошибки в лечении молочницы
                </h2>
                <div class="error__inner">
                    <div class="error__item">
                    <span class="item__el">

                    </span>
                        <p class="item__text">
                            Бесконтрольное применение <br>
                            антибиотиков
                        </p>
                    </div>
                    <div class="error__item error__item-line">
                    <span class="item__el">

                    </span>
                        <p class="item__text">
                            Досрочное окончание курса лечения <br>
                            после устранения первых симптомов
                        </p>
                    </div>
                    <div class="error__item">
                    <span class="item__el">

                    </span>
                        <p class="item__text">
                            Отсутствие восстанавливающей <br>
                            терапии после агрессивного <br>
                            лечения
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="return__result">
            <h2 class="result__title return__title">
                Результат неправильного лечения:
            </h2>
            <div class="result__items">
                <div class="items__block">
                    <img src="img/return__img-1.jpg" alt="" class="block__pic">
                    <p class="block__text">
                        <span class="text__bold">Дисбактериоз влагалища —</span> <br>
                        приводит к возвращению <br>
                        молочницы, жжение, частое <br>
                        мочеиспускание
                    </p>
                </div>
                <div class="items__block">
                    <img src="img/return__img-2.jpg" alt="" class="block__pic">
                    <p class="block__text">
                        <span class="text__bold">Заболевания мочеполовой <br>
                        системы:</span> эрозии, цистит, <br>
                        воспаление яичников, и&nbspдаже <br>
                        бесплодие
                    </p>
                </div>
                <div class="items__block">
                    <img src="img/return__img-3.jpg" alt="" class="block__pic">
                    <p class="block__text">
                        <span class="text__bold">Нарушение работы ЖКТ:</span> <br>
                        тошнота и&nbspотсутствие <br>
                        аппетита, запоры, диареи, <br>
                        вздутие
                    </p>
                </div>
                <div class="items__block">
                    <img src="img/return__img-4.jpg" alt="" class="block__pic">
                    <p class="block__text">
                        <span class="text__bold">Повышение вероятности <br>
                        заболеть</span> заболеваниями, <br>
                        передающимися половым <br>
                        путем
                    </p>
                </div>
            </div>
            <div class="result__line">
                <img src="img/return__line.svg" alt="" class="line__img">
            </div>
            <h3 class="result__subtitle">
                В 55% случаев уже через 3-4 месяца после лечения молочница возвращается, <br>
                часто — с опасными  для женского здоровья сопутствующими болезнями.
            </h3>
        </div>
        <div class="result__footer">
            <span class="text__green">Избавиться от молочницы навсегда</span> получится только при одновременном лечении самого
            <br>
            заболевания и  восстановлении микрофлоры!
        </div>
    </div>
</section>