<section class="sert">
    <div class="wrapper">
        <h1 class="title">
            <span class="text__green">Левефрил</span> оказал свою эффективность <br>
в лечении острой и хронической молочницы 
        </h1>
        <p class="components__text">подтверждено результатами исследований в клиниках России, США и Израиля </p>
        <div class="sert-head__box">
            <div class="sert-ramka"></div>
            <div class="sert-block">
                <div class="sert-block__box">
                    <div class="sert-block__item"><img src="img/sert1.jpg" alt="" class="sert-block__item1"></div>
                        <div class="block__el"></div>
                        <div class="sert-block__country">США</div>
                    </div>
                    <div class="sert-block__box">
                        <div class="sert-block__item"><img src="img/sert2.jpg" alt="" class="sert-block__item2"></div>
                            <div class="block__el"></div>
                            <div class="sert-block__country">Израиль</div>
                        </div>
                        <div class="sert-block__box">
                            <div class="sert-block__item"><img src="img/sert3.jpg" alt="" class="sert-block__item3"></div>
                                <div class="block__el"></div>
                                <div class="sert-block__country">Россия</div>
                            </div>
                        </div>
                    </div>
                    <div class="sert-result">
                        <div class="sert-result_box">
                            <div class="sert-result__text">Полностью <b>избавились от молочницы</b> и ее осложнений больше, чем на год <br>и восстановили микрофлору</div>
                            <div class="sert-result__indicate"><span class="count" data-name="95">95</span>%</div>
                        </div>
                        <div class="sert-result_box sert-result_boxcenter">
                            <div class="sert-result__text">Избавились <b>от гинекологических заболеваний</b>, вызванных <br>молочницей</div>
                            <div class="sert-result__indicate sert-result__indicate2"><span class="count" data-name="76.6">76,6</span>%</div>
                        </div>
                        <div class="sert-result_box">
                            <div class="sert-result__text"><b>Повысили качество жизни</b>, чувство комфорта и удовольствия <br>во время секса </div>
                            <div class="sert-result__indicate sert-result__indicate3"><span class="count" data-name="92.6">92,6</span>%</div>
                        </div>
                    </div>
                    <div class="sert-private">
                    	<div class="sert-private-box">
                    		<img src="img/logoWHO.png" alt="" class="sert-private__logo">
                    	<div class="sert-private__text">
                    		<div class="sert-private__textone">Все этапы тестирования<br> подтверждены специалистам</div>
                    		<div class="sert-private__texttwo">Всемирной организации<br> здравоохранения</div>
                    	</div>
                    	</div>
                    </div>
                </div>
</section>