<section class="stat">
    <div class="wrapper">
        <h2 class="title">
            Статистика 2018 года:
        </h2>
        <h3 class="stat__title">
            молочница встречается у 80% женщин
        </h3>
        <h4 class="stat__subtitle">
            Проверьте себя:
        </h4>
        <div class="stat__content">
            <div class="content__item">
                <span class="item__el">
                    1
                </span>
                <div class="item__pic">
                    <img src="img/stat__img-1.jpg" alt="" class="pic__img">
                </div>
                <div class="item__text">
                    <h3 class="text__title">
                        Зуд и жжение
                    </h3>
                    <p class="text__p">
                        в наружных половых органах
                    </p>
                </div>
            </div>
            <div class="content__item">
                <span class="item__el">
                    2
                </span>
                <div class="item__pic">
                    <img src="img/stat__img-2.jpg" alt="" class="pic__img">
                </div>
                <div class="item__text">
                    <h3 class="text__title">
                        Покраснение кожи
                    </h3>
                    <p class="text__p">
                        в области половых органов
                    </p>
                </div>
            </div>
            <div class="content__item">
                <span class="item__el">
                    3
                </span>
                <div class="item__pic">
                    <img src="img/stat__img-3.jpg" alt="" class="pic__img">
                </div>
                <div class="item__text">
                    <h3 class="text__title">
                        Белые выделения
                    </h3>
                    <p class="text__p">
                        с неприятным запахом
                    </p>
                </div>
            </div>
            <div class="content__item">
                <span class="item__el">
                    4
                </span>
                <div class="item__pic">
                    <img src="img/stat__img-4.jpg" alt="" class="pic__img">
                </div>
                <div class="item__text">
                    <h3 class="text__title">
                        Дискомфорт
                    </h3>
                    <p class="text__p">
                        при движении и половом <br>
                        контакте
                    </p>
                </div>
            </div>
        </div>
        <div class="stat__footer">
            <span class="footer__el">
                !
            </span>
            <h3 class="footer__title">
                Наличие 2-х и больше симптомов — <span class="text__red">признак молочницы!</span> <br>
                И&nbspона <span class="text__red">не так безопасна</span>, как может казаться.
            </h3>
            <p class="footer__p">
                Не вылеченная молочница принимает хроническую форму и  приводит опасным гинекологическим заболеваниям:
                <br>
                эрозиям, циститу и даже бесплодию. Кроме того, на 70% повышается вероятность заболеть ЗППП.
            </p>
        </div>
    </div>
</section>