<section class="use">
    <div class="wrapper">
        <h1 class="title">
            Как применять <span class="text__green">Левефрил</span> 
        </h1>
        <p class="components__text">для избавления от острой и хронической молочницы и восстановления микрофлоры</p>
        <div class="use-content">
            <img class="use-pack" src="img/use-pack.png" alt="">
            <div class="use-content-boxs">
                <div class="use-content-box use-content-box1">
                    <div class="content__item">
                        <span class="item__el">1</span>
                        <div class="item__pic">
                        	<img src="img/use-img1.png" alt="" class="pic__img">
                        </div>     
                        </div>
                        <div class="item__text">
                                Вымойте руки <br>
                                    и интимную зону
                            </div>
                    </div>
                    <div class="use-content-box">
                    <div class="content__item">
                        <span class="item__el">2</span>
                        <div class="item__pic">
                        	<img src="img/use-img2.png" alt="" class="pic__img">
                        </div>     
                        </div>
                        <div class="item__text">
                                Извлеките одну свечу<br>
из упаковки
                            </div>
                    </div>
                    <div class="use-content-box">
                    <div class="content__item">
                        <span class="item__el">3</span>
                        <div class="item__pic">
                        	<img src="img/use-img3.png" alt="" class="pic__img">
                        </div>     
                        </div>
                        <div class="item__text">
                                Введите свечу глубоко<br>
во влагалище

                            </div>
                    </div>
                </div>
            </div>
            <div class="use-ramka">
            	<span class="item__el"><span class="day">30<br></span><span class="day-text">дней</span></span>
            	Повторяйте процедуру каждый перед сном в течение 30 дней
            </div>
        </div>
</section>