doctype html
html
  head
    meta(charset="utf-8")
    title Купить Левифрил недорого. Цены, отзывы. Закажите Левифрил сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body
    include ../common/header.html
    include ../common/stat.html
    include ../common/return.html
    include ../common/good.html
    include ../common/components.html
    include ../common/doctor.html
    include ../common/sert.html
    include ../common/use.html
    include ../common/reviews.html
    include ../common/order.html
    include ../common/footer.html
    include ../common/popup.html
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/slick.min.js')
    script(src='js/everad.js')
    script(src='js/app.js')
